@import '../../style/variable.less';
@import '../../style/common.less';

.home {
  height: 100vh;
  font-size: 24px;
  color: #fff;
  .layout {
    height: 100vh;
  }
  .side {
    background: @side
  }
  .head {
    background: @head;
    text-align: center;
  }
  .content {
    background: @content;
  }
  .contentDetail {
    overflow: auto;
    .chatting-scroll-bar;
  }
}
