@import '../../style/variable.less';

.recommend {
  padding: 20px 50px;
  background: @content;
}
.banner {
  width: 100vw;
  height: 100px;
  text-align: center;
}
.label {
  color: white;
  margin: 20px 0;
}
.recommend-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .list-img-container {
    text-align: center;
    position: relative;
    .img-item {
      width: 130px;
      height: 130px;
      position: relative;
      margin: auto;
      margin-bottom: 10px;
      .list-play-count {
        font-size: 13px;
        position: absolute;
        z-index: 100;
        left: 7px;
        bottom: 6px;
        i {
          font-style: normal;
          margin-left: 6px;
        }
      }
      .icon-bofang {
        font-style: normal;
        font-size: 28px;
        position: absolute;
        right: 8px;
        bottom: -2px;
      }
      .icon-bofang:hover {
        color: @playColor;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        vertical-align: center;
      }
    }
  }
  .list-name {
    font-size: 14px;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
  }
  .list-name:hover {
    color: @textColor;
    cursor: pointer;
  }
}
